* {
  margin: 0; /*detta o padding för att göra koden mer förutsägbar (kke överkurs..)*/
  padding: 0;
  box-sizing: border-box; /* gör att padding (+border..) inkluderas i elementets totala bredd och höjd*/
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  color: #fff;
}

/* fonts */
.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 2rem;
  padding: 3rem 1rem 1rem;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 0.8rem;
}
/* väderikonerna */

body {
  font-family: "ZtChintzy", sans-serif;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* main */
#main-container {
  backdrop-filter: blur(20px);
  background-color: #373c4142;
  height: auto;
  max-height: 100vh;
  border-radius: 1.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#search a {
  position: absolute;
  top: 0.8rem;
  right: 18rem;
}
/* formuläret*/
#search form {
  position: absolute; /* så form håller sig uppe till höger */
  top: 10px;
  right: 4.4rem;
  width: 10rem;
  background-color: #383838;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 2px;
}

/* där man matar */
#search input {
  background-color: #383838;
  outline: none;
  border: none;
}
.dateAndCity {
  padding-top: 2rem;
}
#cityInput {
  padding-left: 0.25rem; /* på pick a city*/
}
#search .button {
  background-color: #1f1f1f;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
}

input::placeholder {
  color: #ffffffe0;
}

#icon {
  max-width: 60px;
  max-height: 60px;
}

/* typ allt väder-content */
#weatherData {
  /*background: linear-gradient(to bottom, #549862, #33623c);
  border-radius: 1rem;*/
  padding: 0.5rem;
  flex-direction: column; /* vertikal kolumn */
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: calc(100% - 40px);
  height: calc(100% - 60px);
}

#weatherDetails,
.weatherHours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  width: 100%;
  grid-column: span 2;
}
#cityName {
  font-size: 3.2rem;
  padding: 0;
}
#todayDate {
  margin-bottom: 2rem;
  font-size: 1rem;
  text-align: center;
}
#weatherDescription {
  font-size: 1rem;
  text-align: center;
}

#sun,
#relHum,
#prec,
#rain,
#showers,
#wind,
.weatherHours {
  background: linear-gradient(to bottom, #3838381d, #ffffff36);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-content: center;
}

/* REEESSSPPOOOONSIIIIV*/
/* REEESSSPPOOOONSIIIIV*/
@media only screen and (max-width: 900px) and (min-width: 768px) {
  #temp {
    font-size: 7rem !important;
  }
  #cityName {
    font-size: 6rem !important;
  }
}
@media only screen and (min-width: 768px) {
  body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
  }

  #main-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px auto 1fr; /* px först för att inte involvera grid-innehållet med sökrutan uppe till höger */
    gap: 1rem;
    padding: 1rem;
    width: calc(100% - 40px); /* håller paddingen intakt iom alltid -40px */
    height: calc(100% - 40px); /* håller paddingen intakt iom alltid -40px */
    margin: auto;
    justify-self: center;
    align-items: center;
    padding-bottom: 3rem;
    font-size: 1.8rem;
  }
  h1 {
    font-size: 7rem !important;
  }
  p {
    font-size: 1.4rem;
  }
  #search a {
    position: absolute;
    top: 2.2rem;
    right: 30rem;
  }
  #search form {
    top: 1.6rem;
    right: 6rem;
  }
  #search .button {
    z-index: 10; /* så jag kan klicka på knappen igen, gick inte nyss.. */
  }
  .dateAndCity {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column; /* datum o stad står vertikalt */
    text-align: center;
  }
  #cityName {
    font-size: 3.6rem;
    padding-left: 3rem;
    padding-top: 0;
  }
  #todayDate {
    text-align: center;
    margin-top: 0.3rem;
    font-size: 2rem;
  }
  #temp {
    text-align: center;
    font-size: 9rem;
    margin-top: 3rem;
  }
  /*
  #cityName,
  #todayDate,
  #temp,
  #weatherDescription,
  #weatherIcon {
    position: absolute;
    top: 1rem;
    padding: 5rem 4rem;
  }*/
  #weatherDetails {
    grid-column: 3/4; /* hamnar på tredje kolumnen */
    grid-row: 2/3;
    padding-top: 2rem;
    padding-right: 2rem;
  }
  #weatherData {
    /*background: linear-gradient(to bottom, #549862, #33623c);
    border-radius: 1rem;*/
    padding: 0.5rem;
    grid-row: 3/4;
    display: grid;
    grid-column: 1/ 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "weatherHours weatherHours weatherHours"
      "sun relHum prec"
      "rain showers wind";
    gap: 3rem;
  }

  #temp {
    grid-area: temp;
  }

  #weatherIcon {
    text-align: center;
  }

  #weatherDescription,
  #appTemp {
    text-align: center;
    font-size: 1.8rem;
  }

  .weatherHours {
    text-align: center;
    grid-area: weatherHours;
  }
  #sun {
    grid-area: sun;
    font-size: 1.8rem;
  }
  #relHum {
    grid-area: relHum;
  }
  #prec {
    grid-area: prec;
  }
  #rain {
    grid-area: rain;
  }
  #showers {
    grid-area: showers;
  }
  #wind {
    grid-area: wind;
  }
  #icon {
    max-width: 80px;
    max-height: 80px;
  }
  #sun,
  #relHum,
  #prec,
  #rain,
  #showers,
  #wind,
  .weatherHours {
    height: 8rem;
  }

  #search form {
    transform: scale(1.5);
    margin-right: 3.8rem;
    margin-top: 1rem;
  }
}
