* {
  margin: 0; /*detta o padding för att göra koden mer förutsägbar (kke överkurs..)*/
  padding: 0;
  box-sizing: border-box; /* gör att padding (+border..) inkluderas i elementets totala bredd och höjd*/
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  color: #fff;
}

/* fonts */
.oxygen-light {
  font-family: "Oxygen", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.oxygen-bold {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}
h1 {
  font-size: 2rem;
  position: relative;
  padding: 4rem 1rem 1rem;
}
h2 {
  font-size: 40px;
}
p {
  font-size: 0.6rem;
}
/* väderikonerna */

#body {
  font-family: "ZtChintzy", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; /* så #search kan flyttas */
  background-size: cover;
}

/* central piece */ /* implementera på bilder på flow sen om du har tid*/

/* main */
#main-container {
  backdrop-filter: blur(20px);

  position: relative; /* påverkar ej hur andra element flyttas */
  width: calc(100% - 20px);
  height: 900px;
  border-radius: 1.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;

  /* transition: height .6s ease;*/
}

/* formuläret*/
#search form {
  position: absolute; /* så form håller sig uppe till höger */
  top: 10px;
  right: 4.4rem;
  width: 10rem;
  background-color: #2e5536;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  gap: 2px;
}

/* där man matar */
#search input {
  background-color: #2e5536;
  outline: none;
  border: none;
}
#cityInput {
  padding-left: 0.25rem; /* på pick a city*/
}
#search .button {
  background-color: #1c3521;
  border: none;
  cursor: pointer;
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
}

input::placeholder {
  color: #ffffffb7;
}

#icon {
  max-width: 60px;
  max-height: 60px;
}

/* typ allt väder-content */
#weatherData {
  /*background: linear-gradient(to bottom, #549862, #33623c);
  border-radius: 1rem;*/
  padding: 0.5rem;
  flex-direction: column; /* vertikal kolumn */
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#weatherDetails,
.weatherHours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  width: 100%;
  grid-column: span 2;
}
#todayDate {
  margin-bottom: 2rem;
  font-size: 0.8rem;
  text-align: center;
}
#weatherDescription {
  font-size: 0.8rem;
  text-align: center;
}

#sun,
#relHum,
#prec,
#rain,
#showers,
#wind,
.weatherHours {
  font-size: 0.8rem;
  background: linear-gradient(to bottom, #4f8f5d, #41774d);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
}

/* REEESSSPPOOOONSIIIIV*/

@media only screen and (min-width: 768px) {
  #main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20px auto 1fr; /* px först för att inte involvera grid-innehållet med sökrutan uppe till höger */
    gap: 1rem;
    padding: 1rem;
    width: calc(100% - 40px); /* håller paddingen intakt iom alltid -40px */
  }

  .dateAndCity {
    grid-row: 2/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column; /* datum o stad står vertikalt */
    text-align: center;
  }
  #cityName {
    font-size: 3.6rem;
    padding-left: 3rem;
    padding-top: 0;
  }
  #todayDate {
    text-align: center;
    margin-top: 0.3rem;
  }
  #temp {
    text-align: center;
    font-size: 5rem;
  }
  /*
  #cityName,
  #todayDate,
  #temp,
  #weatherDescription,
  #weatherIcon {
    position: absolute;
    top: 1rem;
    padding: 5rem 4rem;
  }*/

  #weatherData {
    /*background: linear-gradient(to bottom, #549862, #33623c);
    border-radius: 1rem;*/
    padding: 0.5rem;
    grid-row: 3/4;
    display: grid;
    grid-column: 1/ 4;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "weatherHours weatherHours weatherHours";
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  #weatherDetails {
    grid-column: 3/4; /* hamnar på tredje kolumnen */
    grid-row: 2/3;
    padding-top: 3rem;
    padding-right: 2rem;
  }

  #search form {
    top: 1.6rem;
    right: 6rem;
  }
  #search .button {
    z-index: 10; /* så jag kan klicka på knappen igen, gick inte nyss.. */
  }

  #temp {
    grid-area: temp;
  }

  #weatherIcon {
    text-align: center;
  }

  #weatherDescription {
    text-align: center;
    font-size: 1.2rem;
  }

  .weatherHours {
    text-align: center;
    grid-area: weatherHours;
  }

  #sun,
  #relHum,
  #prec,
  #rain,
  #showers,
  #wind,
  .weatherHours {
    height: 8rem;
  }
}
